@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<img src="~/img/Travelling.png" alt="Responsive Image" style="max-width: 100%; height: auto;">

<div class="text-center">
    <h1 class="display-4">Travel Hack with Credit Card Points</h1>
    <p>Travel around the world as a college student!</p>
    <br/>
    <div class="image-container">
        <img src="~/img/maui.png" alt="Image 1">
        <img src="~/img/skiing.png" alt="Image 2">
        <img src="~/img/disney.png" alt="Image 3">
    </div>   
    <br/>
    <br/>
    <p>As a college student, finding ways to travel without breaking the bank is essential, and credit card points
        have been a game-changer for me. By strategically using credit cards that offer travel rewards, 
        I’ve been able to book flights and hotels at a fraction of the cost—sometimes even for free. 
        Many travel credit cards offer sign-up bonuses that can cover round-trip flights or several nights in a 
        hotel just by meeting a reasonable spending requirement. Plus, everyday purchases like groceries, gas, 
        and dining out can accumulate points that add up quickly. Instead of spending money outright on travel, 
        I leverage these rewards to make trips that would otherwise be unaffordable as a student.</p>
</div>